In [25]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import pickle
import numpy as np

In [26]:
data_path = '/mnt/368AE7F88AE7B313/Files_Programming/Git/Project_Electricity/data/Raw/1002.csv'

In [27]:
data = pd.read_csv(data_path,sep=';',thousands=',')

In [28]:
data.head()

         Unnamed: 0 Portfolioprognose Unnamed: 2 Messwert_kWh Unnamed: 4
0  01.01.2016 00:15            524,32          W      283,124          W
1  01.01.2016 00:30           513,516          W      313,424          W
2  01.01.2016 00:45           535,716          W      303,216          W
3  01.01.2016 01:00           544,416          W      318,524          W
4  01.01.2016 01:15           507,966          W      318,816          W

In [29]:
data.columns

Index(['Unnamed: 0', 'Portfolioprognose', 'Unnamed: 2', 'Messwert_kWh',
       'Unnamed: 4'],
      dtype='object')

In [30]:
data.index

RangeIndex(start=0, stop=105216, step=1)

In [31]:
data_messwert = data[['Unnamed: 0','Messwert_kWh']].copy()

In [32]:
data_messwert

              Unnamed: 0 Messwert_kWh
0       01.01.2016 00:15      283,124
1       01.01.2016 00:30      313,424
2       01.01.2016 00:45      303,216
3       01.01.2016 01:00      318,524
4       01.01.2016 01:15      318,816
...                  ...          ...
105211  31.12.2018 23:00      283,116
105212  31.12.2018 23:15      212,308
105213  31.12.2018 23:30      215,608
105214  31.12.2018 23:45      217,716
105215  01.01.2019 00:00      191,908

[105216 rows x 2 columns]

In [33]:
type(data_messwert['Unnamed: 0'][0])

str

In [34]:
data_messwert['date_time'] = pd.to_datetime(data_messwert['Unnamed: 0'],format='%d.%m.%Y %H:%M')

In [35]:
data_messwert

              Unnamed: 0 Messwert_kWh           date_time
0       01.01.2016 00:15      283,124 2016-01-01 00:15:00
1       01.01.2016 00:30      313,424 2016-01-01 00:30:00
2       01.01.2016 00:45      303,216 2016-01-01 00:45:00
3       01.01.2016 01:00      318,524 2016-01-01 01:00:00
4       01.01.2016 01:15      318,816 2016-01-01 01:15:00
...                  ...          ...                 ...
105211  31.12.2018 23:00      283,116 2018-12-31 23:00:00
105212  31.12.2018 23:15      212,308 2018-12-31 23:15:00
105213  31.12.2018 23:30      215,608 2018-12-31 23:30:00
105214  31.12.2018 23:45      217,716 2018-12-31 23:45:00
105215  01.01.2019 00:00      191,908 2019-01-01 00:00:00

[105216 rows x 3 columns]

In [36]:
data_messwert = data_messwert.set_index('date_time')

In [37]:
data_messwert.head()

                           Unnamed: 0 Messwert_kWh
date_time
2016-01-01 00:15:00  01.01.2016 00:15      283,124
2016-01-01 00:30:00  01.01.2016 00:30      313,424
2016-01-01 00:45:00  01.01.2016 00:45      303,216
2016-01-01 01:00:00  01.01.2016 01:00      318,524
2016-01-01 01:15:00  01.01.2016 01:15      318,816

In [38]:
data = data_messwert[['Messwert_kWh']]

In [39]:
data.head()

                    Messwert_kWh
date_time
2016-01-01 00:15:00      283,124
2016-01-01 00:30:00      313,424
2016-01-01 00:45:00      303,216
2016-01-01 01:00:00      318,524
2016-01-01 01:15:00      318,816

In [40]:
type(data['Messwert_kWh'][0])

str

In [41]:
Messwert_KWh_num = data['Messwert_kWh'].apply(lambda x: x.replace('.', '').replace(',','.'))

In [42]:
Messwert_KWh_num.head()

date_time
2016-01-01 00:15:00    283.124
2016-01-01 00:30:00    313.424
2016-01-01 00:45:00    303.216
2016-01-01 01:00:00    318.524
2016-01-01 01:15:00    318.816
Name: Messwert_kWh, dtype: object

In [43]:
Messwert_KWh_num = Messwert_KWh_num.astype(np.float32)

In [44]:
Messwert_KWh_num

date_time
2016-01-01 00:15:00    283.123993
2016-01-01 00:30:00    313.424011
2016-01-01 00:45:00    303.216003
2016-01-01 01:00:00    318.523987
2016-01-01 01:15:00    318.816010
                          ...
2018-12-31 23:00:00    283.115997
2018-12-31 23:15:00    212.307999
2018-12-31 23:30:00    215.608002
2018-12-31 23:45:00    217.716003
2019-01-01 00:00:00    191.908005
Name: Messwert_kWh, Length: 105216, dtype: float32

In [45]:
data['messwert_kwh'] = Messwert_KWh_num

In [46]:
data = data.drop('Messwert_kWh', axis="columns")

In [47]:
type(data['messwert_kwh'][0])

numpy.float32

In [48]:
path = '/mnt/368AE7F88AE7B313/Files_Programming/Git/Project_Electricity/data/Processed/'

In [49]:
data.to_pickle(path + '1002_processed_single_datetime.pkl')

In [50]:
type(data)

pandas.core.frame.DataFrame