In [1]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import pickle
import numpy as np

In [2]:
data_path = '/mnt/368AE7F88AE7B313/Files_Programming/Git/Project_Electricity/data/Raw/1002.csv'

In [3]:
data = pd.read_csv(data_path,sep=';',thousands=',')

In [4]:
data.head()

         Unnamed: 0 Portfolioprognose Unnamed: 2 Messwert_kWh Unnamed: 4
0  01.01.2016 00:15            524,32          W      283,124          W
1  01.01.2016 00:30           513,516          W      313,424          W
2  01.01.2016 00:45           535,716          W      303,216          W
3  01.01.2016 01:00           544,416          W      318,524          W
4  01.01.2016 01:15           507,966          W      318,816          W

In [185]:
data.columns

Index(['Unnamed: 0', 'Portfolioprognose', 'Unnamed: 2', 'Messwert_kWh',
       'Unnamed: 4'],
      dtype='object')

In [186]:
data.index

RangeIndex(start=0, stop=105216, step=1)

In [187]:
data_messwert = data[['Unnamed: 0','Messwert_kWh']].copy()

In [188]:
data_messwert

              Unnamed: 0 Messwert_kWh
0       01.01.2016 00:15      283,124
1       01.01.2016 00:30      313,424
2       01.01.2016 00:45      303,216
3       01.01.2016 01:00      318,524
4       01.01.2016 01:15      318,816
...                  ...          ...
105211  31.12.2018 23:00      283,116
105212  31.12.2018 23:15      212,308
105213  31.12.2018 23:30      215,608
105214  31.12.2018 23:45      217,716
105215  01.01.2019 00:00      191,908

[105216 rows x 2 columns]

In [189]:
type(data_messwert['Unnamed: 0'][0])

str

In [190]:
data_messwert['date_time'] = pd.to_datetime(data_messwert['Unnamed: 0'],format='%d.%m.%Y %H:%M')

In [191]:
data_messwert

              Unnamed: 0 Messwert_kWh           date_time
0       01.01.2016 00:15      283,124 2016-01-01 00:15:00
1       01.01.2016 00:30      313,424 2016-01-01 00:30:00
2       01.01.2016 00:45      303,216 2016-01-01 00:45:00
3       01.01.2016 01:00      318,524 2016-01-01 01:00:00
4       01.01.2016 01:15      318,816 2016-01-01 01:15:00
...                  ...          ...                 ...
105211  31.12.2018 23:00      283,116 2018-12-31 23:00:00
105212  31.12.2018 23:15      212,308 2018-12-31 23:15:00
105213  31.12.2018 23:30      215,608 2018-12-31 23:30:00
105214  31.12.2018 23:45      217,716 2018-12-31 23:45:00
105215  01.01.2019 00:00      191,908 2019-01-01 00:00:00

[105216 rows x 3 columns]

In [192]:
data_messwert = data_messwert.set_index('date_time')

In [193]:
data_messwert.head()

                           Unnamed: 0 Messwert_kWh
date_time
2016-01-01 00:15:00  01.01.2016 00:15      283,124
2016-01-01 00:30:00  01.01.2016 00:30      313,424
2016-01-01 00:45:00  01.01.2016 00:45      303,216
2016-01-01 01:00:00  01.01.2016 01:00      318,524
2016-01-01 01:15:00  01.01.2016 01:15      318,816

In [194]:
data = data_messwert[['Messwert_kWh']]

In [195]:
data.head()

                    Messwert_kWh
date_time
2016-01-01 00:15:00      283,124
2016-01-01 00:30:00      313,424
2016-01-01 00:45:00      303,216
2016-01-01 01:00:00      318,524
2016-01-01 01:15:00      318,816

In [196]:
type(data['Messwert_kWh'][0])

str

In [197]:
Messwert_KWh_num = data['Messwert_kWh'].apply(lambda x: x.replace('.', '').replace(',','.'))

In [198]:
Messwert_KWh_num.head()

date_time
2016-01-01 00:15:00    283.124
2016-01-01 00:30:00    313.424
2016-01-01 00:45:00    303.216
2016-01-01 01:00:00    318.524
2016-01-01 01:15:00    318.816
Name: Messwert_kWh, dtype: object

In [199]:
Messwert_KWh_num = Messwert_KWh_num.astype(np.float32)

In [200]:
Messwert_KWh_num

date_time
2016-01-01 00:15:00    283.123993
2016-01-01 00:30:00    313.424011
2016-01-01 00:45:00    303.216003
2016-01-01 01:00:00    318.523987
2016-01-01 01:15:00    318.816010
                          ...
2018-12-31 23:00:00    283.115997
2018-12-31 23:15:00    212.307999
2018-12-31 23:30:00    215.608002
2018-12-31 23:45:00    217.716003
2019-01-01 00:00:00    191.908005
Name: Messwert_kWh, Length: 105216, dtype: float32

In [201]:
data['messwert_kwh'] = Messwert_KWh_num

In [202]:
data = data.drop('Messwert_kWh', axis="columns")

In [203]:
type(data['messwert_kwh'][0])

numpy.float32

In [204]:
data["year"] = data.index.year
data["month"] = data.index.month
data["day"] = data.index.day_name()
data["time"] = data.index.time
data["date"] = data.index.date

In [205]:
data.head()

                     messwert_kwh  year  month     day      time        date
date_time
2016-01-01 00:15:00    283.123993  2016      1  Friday  00:15:00  2016-01-01
2016-01-01 00:30:00    313.424011  2016      1  Friday  00:30:00  2016-01-01
2016-01-01 00:45:00    303.216003  2016      1  Friday  00:45:00  2016-01-01
2016-01-01 01:00:00    318.523987  2016      1  Friday  01:00:00  2016-01-01
2016-01-01 01:15:00    318.816010  2016      1  Friday  01:15:00  2016-01-01

In [206]:
data['date'] = pd.to_datetime(data.date)
#data['ate'] = data['Date'].dt.strftime('%y-%m')

In [207]:
data['dates'] = data['date'].dt.strftime('%Y-%m')

In [208]:
data

,messwert_kwh,year,month,day,time,date,dates
date_time,,,,,,,
2016-01-01 00:15:00,283.123993,2016,1,Friday,00:15:00,2016-01-01,2016-01
2016-01-01 00:30:00,313.424011,2016,1,Friday,00:30:00,2016-01-01,2016-01
2016-01-01 00:45:00,303.216003,2016,1,Friday,00:45:00,2016-01-01,2016-01
2016-01-01 01:00:00,318.523987,2016,1,Friday,01:00:00,2016-01-01,2016-01
2016-01-01 01:15:00,318.816010,2016,1,Friday,01:15:00,2016-01-01,2016-01
...,...,...,...,...,...,...,...
2018-12-31 23:00:00,283.115997,2018,12,Monday,23:00:00,2018-12-31,2018-12
2018-12-31 23:15:00,212.307999,2018,12,Monday,23:15:00,2018-12-31,2018-12
2018-12-31 23:30:00,215.608002,2018,12,Monday,23:30:00,2018-12-31,2018-12
2018-12-31 23:45:00,217.716003,2018,12,Monday,23:45:00,2018-12-31,2018-12
2019-01-01 00:00:00,191.908005,2019,1,Tuesday,00:00:00,2019-01-01,2019-01

In [209]:
data = data.drop('date',axis = 'columns')

In [210]:
data[data['dates'] =='2016-01']

                     messwert_kwh  year  month     day      time    dates
date_time
2016-01-01 00:15:00    283.123993  2016      1  Friday  00:15:00  2016-01
2016-01-01 00:30:00    313.424011  2016      1  Friday  00:30:00  2016-01
2016-01-01 00:45:00    303.216003  2016      1  Friday  00:45:00  2016-01
2016-01-01 01:00:00    318.523987  2016      1  Friday  01:00:00  2016-01
2016-01-01 01:15:00    318.816010  2016      1  Friday  01:15:00  2016-01
...                           ...   ...    ...     ...       ...      ...
2016-01-31 22:45:00    866.015991  2016      1  Sunday  22:45:00  2016-01
2016-01-31 23:00:00    898.708008  2016      1  Sunday  23:00:00  2016-01
2016-01-31 23:15:00    933.815979  2016      1  Sunday  23:15:00  2016-01
2016-01-31 23:30:00   1030.719971  2016      1  Sunday  23:30:00  2016-01
2016-01-31 23:45:00   1075.420044  2016      1  Sunday  23:45:00  2016-01

[2975 rows x 6 columns]

In [211]:
data[data['month'] == 1].tail()

                     messwert_kwh  year  month        day      time    dates
date_time
2018-01-31 23:00:00   1245.800049  2018      1  Wednesday  23:00:00  2018-01
2018-01-31 23:15:00   1147.689941  2018      1  Wednesday  23:15:00  2018-01
2018-01-31 23:30:00   1145.000000  2018      1  Wednesday  23:30:00  2018-01
2018-01-31 23:45:00   1169.900024  2018      1  Wednesday  23:45:00  2018-01
2019-01-01 00:00:00    191.908005  2019      1    Tuesday  00:00:00  2019-01

In [212]:
path = '/mnt/368AE7F88AE7B313/Files_Programming/Git/Project_Electricity/data/Processed/'

In [213]:
data.to_pickle(path + '1002_processed.pkl')

In [214]:
type(data)

pandas.core.frame.DataFrame